<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    #bierens_header_tpl{
        margin: 0;
        padding: 0;
    }
    #bierens_header_tpl .header_row{
        padding:0 15px;
        font-family: 'Open Sans', sans-serif;
    }
    #bierens_header_tpl .header_table tr td{
        padding:0 10px;
        font-family: 'Open Sans', sans-serif;
    }
</style>

<header id="bierens_header_tpl">
    <div class="header_row">
        <table class="header_table">
            <tr>
                <td class="small_title"  style="font-family: 'Open Sans', sans-serif; width: 620px;">
                    <p style="letter-spacing: 1px; color: #484141; font-size: 26px; font-weight: 100;" >
                        BIERENS GROUP
                    </p>
                    <p style="color: #484141; font-size: 56px; font-weight: bold;" >
                        CREDIT REPORT
                    </p>
                </td>
                <td>
                    <span>
                        <img style="background: #fff; background-position: center; background-size: contain;  " src="../include/resources/img/bierens_logo.png" alt="">
                    </span>
                </td>
            </tr>
        </table>
    </div>
</header>