<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
</style>

<div style="padding:2px 15px; ">
    <div style="width: 100%; border: 1px solid #b6b3b3; padding:2px 15px;" class="">
        <div style="color: #312d8b;font-size: 26px;font-weight: bold;font-family: 'Open Sans', sans-serif;">Commentary </div>
        <ul>
            %%Arr_Comments%%
        </ul>
    </div>
</div>