<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

</style>
<div style="padding:0px 15px; border: 1px solid #b6b3b3; margin: 5px 15px; ">
    <div style="width: 100%; " >
        <div  style="color: #312d8b;font-size: 26px;font-weight: bold;font-family: 'Open Sans', sans-serif;">Key Financials </div>
        <ul style="padding: 0 30px;">
            %%Arr_Financials%%
        </ul>
    </div>
</div>