<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    #company_ratios_tpl{
        padding:2px 15px;
        font-family: 'Open Sans', sans-serif;
    }
    .table_row td{
        vertical-align: middle;
        font-family: 'Open Sans', sans-serif;
    }
     li{
        list-style: none;
    }
</style>
<section id="company_ratios_tpl">
    <table style="width: 100%; margin: 15px;">
        <tr class="table_row">
            <td style="width:50%;border: 1px solid #b6b3b3; margin-right: 10px;" >
                <h2 style="color: #312d8b;font-size: 26px;font-weight: bold;font-family: 'Open Sans', sans-serif;">Ratios</h2>
                <table style="list-style: none;" class="x_list">
                    <tr style="border-bottom:1px solid red;">
                        <td style="width: 350px; color: #444449;font-size: 16px; font-weight: bold">Current ratio</td>
                        <td >
                            <h2 style="padding: 10px; color: #fff; background-color: orangered">
                                %%ProviderScore%%
                            </h2>
                        </td>
                    </tr>
                    <tr style="border-bottom:1px solid red;">
                        <td style="width: 350px; color: #444449;font-size: 16px; font-weight: bold">Current ratio</td>
                        <td >
                            <h2 style="padding: 10px; color: #fff; background-color: orangered">
                                %%ProviderScore%%
                            </h2>
                        </td>
                    </tr>
                    <tr style="border-bottom:1px solid red;">
                        <td style="width: 350px; color: #444449;font-size: 16px; font-weight: bold">Current ratio</td>
                        <td >
                            <h2 style="padding: 10px; color: #fff; background-color: orangered">
                                %%ProviderScore%%
                            </h2>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="border: 1px solid #b6b3b3; vertical-align: top;">
                <h2 style="color: #312d8b;font-size: 26px;font-weight: bold;font-family: 'Open Sans', sans-serif;">Trade debtors</h2>
                <table>
                    <tr>
                        <td style="padding-top: 20px;">
                            <p style="color: #444449; line-height: 40px; padding-top: 20px;"><strong>23</strong> Documented trades</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px;">
                            <p style="color: #444449; line-height: 40px;padding-top: 20px;"> <strong>€ 68,256</strong> Value of documented trades</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>
