
<style>
    #c_block_details {
        width: 100%;
        margin-bottom: 15px;
        padding-right: 15px;
        font-family: 'Open Sans', sans-serif;

    }
    #c_block_details div{
        font-family: 'Open Sans', sans-serif;

        float: left;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        width: 17%;
        margin-left: 15px;
        padding: 5px;

    }
    #apnd_under_block_title  div{
        height: 30px;
        font-size: 16px;
        text-align: center;
        border:none;
        font-weight: 600;
        margin-bottom: 15px;
        font-family: 'Open Sans', sans-serif;
        width:19.9%;
        float: left; /*Here you can also use display: inline-block instead of float:left*/
    }
</style>

<div style="border: 1px solid #b6b3b3; margin:15px; ">
    <div id="apnd_under_block_title" style="width: 100%;">
        <div style="color: #444449; padding:10px 0 0 0;">Credit Limit</div>
        <div style="color: #444449; padding:10px 0 0 0;">Company age</div>
        <div style="color: #444449; padding:10px 0 0 0; ">Workforce</div>
        <div style="color: #444449; padding:10px 0 0 0; ">Turnover</div>
        <div style="color: #444449; padding:10px 0 0 0; ">Equity</div>
    </div>
    <section id="c_block_details">
        <div style="background: #7ed957; vertical-align: middle; margin-top: auto;margin-bottom: auto;height: 100px; padding-top: 20px ;" >
            <p></p>
            <p style="padding: 2px 0;font-size: 18px;">€ 5,000</p>
        </div>
        <div style="background: #fd511a; vertical-align: middle; margin-top: auto;margin-bottom: auto;height: 100px; padding-top: 20px ;" >
            <p style="font-size: 18px;">
                5
            </p>
            <p>Years old</p>
        </div>
        <div style="background: #ffcd4e; vertical-align: middle; margin-top: auto;margin-bottom: auto;height: 100px; padding-top: 20px ;" >
            <p style="font-size: 18px;">
            10</p>
            <p>employees</p>
        </div>
        <div style="background: #fd511a; vertical-align: middle; margin-top: auto;margin-bottom: auto;height: 100px; padding-top: 20px ;" >
            <p style="font-size: 18px;">
                € 200,000</p>
            <p >(31/03/2018)</p>
        </div>
        <div style="background: #fd511a; vertical-align: middle; margin-top: auto;margin-bottom: auto;height: 100px; padding-top: 20px; padding-right: 5px;" >
            <p style="font-size: 18px;">
                € 200,000</p>
            <p>(31/03/2018)</p>
        </div>
    </section>
</div>
